.lang-switch {
  position: fixed;
  top: 79%;
  right: 47%;
  z-index: 9;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 0.85rem;
}

.lang-switch button {
  background: transparent;
  border: none;
  color: #8fdfff;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.2s ease;
}

.lang-switch button.active {
  opacity: 1;
  text-shadow: 0 0 10px rgba(0, 200, 255, 0.9);
}

.lang-switch span {
  color: #8fdfff;
  opacity: 0.5;
}
