html {
  height: 100%;
  font-size: 1rem;
}

body {
  font-size: 1rem;
  font-family: 'Dosis', sans-serif;
  background-color: rgb(34, 34, 34);
}

h1 {
  color: white;
}

.card {
  margin-top: 1rem;
}

.card div.card-header {
  font-weight: bold;
}

[data-help] {
  cursor: pointer;
}

a[data-help] {
  color: black;
  text-decoration: none;
}

a[data-help]:hover {
  text-decoration: none;
}
